Server configurations - Preferred in Linux environment.

All software is installed in a Python virtual environment.

GeoDjango version - 1.8

Tastypie for Web API - 0.12

AngularJS - 2.0

Postgresql - 9.5

Python - 2.7.11


IX - server

Python - 2.6.6
pip - 8.1.2


pip install django-tables2
installed django-tables2-1.2.6

pip install django-filter
installed django-filter-0.14.0
