{% extends "dashboard/site_header.html" %}

{% load static %}

{% block content %}
<style>
.dropdown-toggle {width:100%;text-align:left;}
.btn-group {width:100%;}
.form-horizontal .control-label {text-align:left;}
</style>

<!-- page content -->
<div ng-app="mapApp" ng-controller="MapController" ng-init="init()" class="right_col" role="main">
    <div class="">


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Map Page</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a id="modal-471365" href="#modal-container-471365" role="button" class="btn"
                                   data-toggle="modal"><i class="fa fa-save"></i></a></li>

                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="map" class="map" style="height:800px;">
                            <div class="col-md-4 col-sm-4 col-xs-12"
                                 style="position:absolute;top:10px;z-index:100;">
                                <div class="x_panel tile fixed_height_420">
                                    <div class="x_title">
                                        <h4>Filtering Options</h4>
                                        <ul style="margin-top:-35px;" class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>

                                        </ul>


                                    </div>
                                    <div class="x_content">
                                        <div class="col-md-12 col-sm-12" style="margin:0;padding:0;">
                                            <form class="form-horizontal">
                                                <fieldset>
						
						<div class="form-group">
  <label class="col-md-3 control-label" for="radios">Layer</label>
  <div class="col-md-9"> 
    <label class="radio-inline" for="radios-0">
      <input type="radio" ng-model="baseLayer" ng-click="changeBaseLayer()" value="OSM" name="inlineRadioOptions"
                                                                   id="inlineRadio1" value="option1">OSM
    </label> 
    <label class="radio-inline" for="radios-1">
     <input type="radio" ng-click="changeBaseLayer()" ng-model="baseLayer" value="Terrain" name="inlineRadioOptions"
                                                                   id="inlineRadio2" value="option1">Terrain
    </label> 
    
  </div>
</div>
						
                                                    <!-- Select Basic -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"
                                                               for="selectbasic">Type</label>
                                                        <div class="col-md-9">
                                                            <select class="form-control" ng-model="selectedDisaster"
                                                                    ng-change="getFilterData(selectedDisaster, 'disaster')">
                                                                <option value="-1">Select Disaster</option>
                                                                {% for disaster in disasters %}
                                                                <option value={{ disaster.id }}>
                                                                    {{ disaster.english }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- Multiple Radios -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"
                                                               for="radios">Status</label>
                                                        <div class="col-md-9">
                                                            <label class="radio-inline" for="radios-0">
                                                                <input name="radios"
                                                                       ng-change="getFilterData(is_validated, 'validation')"
                                                                       ng-model="is_validated" id="radios-0" value="1"
                                                                       type="radio">
                                                                Verified
                                                            </label>
                                                            <label class="radio-inline" for="radios-1">
                                                                <input name="radios" ng-model="is_validated"
                                                                       ng-change="getFilterData(is_validated, 'validation')"
                                                                       id="radios-1" value="0"
                                                                       type="radio">
                                                                Unverified
                                                            </label>
                                                            <label class="radio-inline" for="radios-2">
                                                                <input name="radios" ng-model="is_validated"
                                                                       ng-change="getFilterData(is_validated, 'validation')"
                                                                       id="radios-2" value="all"
                                                                       type="radio" checked="checked">
                                                                All
                                                            </label>

                                                        </div>
                                                    </div>


                                                    <!-- Text input-->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"
                                                               for="textinput">Date</label>
                                                        <div class="col-md-9">
                                                            <input type="text" id="daterange" name="daterange"
                                                                   class="form-control"
                                                            />
                                                            <i class="glyphicon glyphicon-calendar form-control-feedback"
                                                               style="margin-right:5px;margin-top:5px;"></i>
                                                        </div>
                                                    </div>

                                                    <!-- Select Basic -->


                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"
                                                               for="selectbasic">Province</label>
                                                        <div class="col-md-9">
                                                            <multiselect ng-model="selectedProvince" options="province.name for province in provinces"  ng-change="getFilterData(selectedProvince, 'province')" data-multiple="true" style="width:100%;">


                                                            </multiselect>
                                                            <!--select id="province" name="selectbasic" ng-model="selectedProvince"
                                                                     ng-change="getFilterData(selectedProvince, 'province')"
                                                                    class="selectpicker form-control" multiple title="Select Province"
                                                                    data-selected-text-format="count > 3">
                                                                {% for province in provinces %}
                                                                <option value={{ province.name }}>
                                                                    {{ province.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select-->
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"
                                                               for="selectbasic">District</label>
                                                        <div class="col-md-9">
                                                            {% verbatim %}

                                                            <multiselect ng-model="selectedDistrict" ng-change="getFilterData(selectedDistrict, 'district')" options="district.name for district in districts" data-multiple="true">

                                                            </multiselect>
                                                            <!--select id="district" ng-model="selectedDistrict"
                                                                    ng-change="getFilterData(selectedDistrict, 'district')"
                                                                    class="selectpicker form-control"
                                                                    style="border-radius:0;" multiple title="Select District"
                                                                    data-selected-text-format="count > 3">



                                                                <option ng-repeat="district in districts" value="{{ district.name }}">
                                                                     {{ district.name }}
                                                                </option>

                                                            </select-->
                                                            {% endverbatim %}
                                                        </div>
                                                    </div>


                                                    <!-- Button (Double) -->
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label"
                                                               for="button1id"></label>
                                                        <div class="col-md-9">
                                                            <button ng-click="layerFilter()" id="button1id"
                                                                    name="button1id"
                                                                    class="btn btn-success">Filter
                                                            </button>
                                                            <button id="button2id" name="button2id"
                                                                    class="btn btn-default">Clear
                                                            </button>
                                                        </div>
                                                    </div>

                                                </fieldset>
                                            </form>

                                        </div>

                                    </div>
                                </div>


                                <div class="x_panel tile fixed_height_320" style="">
                                    <div class="x_title">
                                        <h4>Map Legend</h4>

                                        <ul style="margin-top:-35px;" class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="x_content" style="height:240px;overflow:auto;">
                                        <div class="col-md-12 col-sm-12" style="margin:0;padding:0;">
                                            <i style="color:#EB2405;" class="fa fa-stop" aria-hidden="true"></i> Today
                                            &nbsp;&nbsp;(<span id="today"></span>)<br>
                                            <i style="color:#E85B04;" class="fa fa-stop" aria-hidden="true"></i> Yesterday
                                            &nbsp;&nbsp;(<span id="yesterday"></span>)<br>
                                            <i style="color:#F09100;" class="fa fa-stop" aria-hidden="true"></i> Day before yesterday  &nbsp;&nbsp; (<span id="dbefore"></span>)<br>
                                            <i style="color:#F9BE00;" class="fa fa-stop" aria-hidden="true"></i> 4 to 7 days 
                                            &nbsp;&nbsp;(<span id="fr"></span> - <span id="to"></span>)<br>
                                            <i style="color:#E6FF39;" class="fa fa-stop" aria-hidden="true"></i> After
                                            one week&nbsp;&nbsp;<br>
                                            <i style="color:#11CE2C;" class="fa fa-stop" aria-hidden="true"></i> Confirmed
                                            <table class="table table">
                                                <thead>
                                                <tr>
                                                    <th>

                                                    </th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        Chemical
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/chemicala.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Cyclone
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/cyclonea.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Drought
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/droughta.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Earthquake
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/earthquakea.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Epidemic
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/epedemica.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Explosion
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/explostiona.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Fire
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/firea.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Flood
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/flooda.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Landslide
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/landslidea.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Thunderstorm
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/thunderstorma.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>
                                                        Tsunami
                                                    </td>
                                                    <td>
                                                        <img class="dicon"
                                                             src="{% static 'maps/images/tsunamia.png' %}"
                                                             alt="Image"/>
                                                    </td>

                                                </tr>


                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                        <script>


                        </script>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="modal fade" id="modal-container-471365" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="z-index:10000000000000000000000000;">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    ×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Save
                                </h4>
                            </div>
                            <div class="modal-body">
                                <ul style="list-style-type:none;">
                                    {% verbatim %}
                                    <li ng-repeat="format in LAYER_DOWNLOAD_FROMATS">
                                        <div ng-if="format.name == 'JSON'">
                                            <!--a href="#" onclick="json_downld()">{{ format.name }}</a -->
                                        </div>
                                        <div ng-if="format.name != 'JSON'">
                                            <a ng-href="{{fetch_url(format.code)}}">{{ format.name }}</a>
                                        </div>
                                    </li>
                                    {% endverbatim %}
                                </ul>
                            </div>
                            <div class="modal-footer">


                            </div>
                        </div>

                    </div>


                </div>
            </div>
       <div id="popup" style='width:150px'></div>
        </div>
</div></div>
        <script>
            var start_date = moment().subtract(20, 'days').format('MM/DD/YYYY');
            var end_date = moment().format('MM/DD/YYYY');
            $(function() {

                function setDateRange(start, end) {
                    $('#daterange').data('daterangepicker').setStartDate(start_date);
                    $('#daterange').data('daterangepicker').setEndDate(end_date);
                }

                $('#daterange').daterangepicker({
                    startDate: start_date,
                    endDate: end_date,
                },
                function(start, end, label) {
                    start_date = start.format('YYYY-MM-DD');
                    end_date = end.format('YYYY-MM-DD');
                }
                , setDateRange);

                setDateRange(start_date, end_date);

            });

        function json_downld() {
 var url = "http://166.63.122.161:8080/geoserver/cfr/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=cfr:incident_layer_v1&maxFeatures=50&outputFormat=application%2Fjson";

    /*$http(
        {
        url: url,
        data: {},
        type: 'GET',
        crossDomain: true,
        dataType: 'jsonp',
        }
        ).success(function(data) {

         console.log('data ', data);
         var a = window.document.createElement('a');
         a.id = "json_dwd";
         var data = "data:application/json;charset:UTF-8"+encodeURIComponent(JSON.stringify(data));
         a.download = 'data.json';
         //window.open( "dataType: text/json, charset: UTF-8, ",data);
         $('#json_dwd').attr('href', data);

         document.body.appendChild(a);
         a.click();
    });*/

    
    
    /*$.ajax({

    url: url,
    data: {},
    type: 'GET',
    crossDomain: true,
    dataType: 'jsonp',
    contentType: "application/json; charset=utf-8",
    success: function() {

    //console.log('data ', data);
         var a = window.document.createElement('a');
         a.id = "json_dwd";
         var data = "data:application/json;charset:UTF-8"+encodeURIComponent(JSON.stringify(data));
         a.download = 'data.json';
         //window.open( "dataType: text/json, charset: UTF-8, ",data);
         $('#json_dwd').attr('href', data);

         document.body.appendChild(a);
         a.click();
    },
    error: function() {
    alert('Failed!');
     },
    
    });*/
    

    /*$.ajax({method: 'GET',
    url: url,
    data: {},
    type: 'GET',
    crossDomain: true,
    dataType: 'jsonp',
    jsonp: false,
    jsonpCallback: "myJsonMethod",
    //jsonpCallback: 'callback',
    contentType: "application/json; charset=utf-8"
   
    }
    ).success(function(data) {
      alert('hi');
     var a = window.document.createElement('a');
         a.id = "json_dwd";
         var data = "data:application/json;charset:UTF-8"+encodeURIComponent(JSON.stringify(data));
         a.download = 'data.json';
         //window.open( "dataType: text/json, charset: UTF-8, ",data);
         $('#json_dwd').attr('href', data);

         document.body.appendChild(a);
         a.click();

    });*/
var url = "http://166.63.122.161:8080/geoserver/cfr/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=cfr%3Aincident_layer_v1&maxFeatures=50&outputFormat=text%2Fjavascript&jsoncallback=?";
/*$.ajax(url,{
        type: 'GET',
        data: {
            
            },
        dataType: 'jsonp',
        jsonpCallback:"callback:handleJson",
        jsonp:'format_options',
        success: function (parsed_json) {
console.log(parsed_json);
},

error: function (parsedjson, textStatus, errorThrown) {
console.log("parsedJson: " + JSON.stringify(parsedjson));
}
        });*/

$.jsonp({
  url: url,
  callbackParameter: "callback"
});
    

    return false;

 };


        </script>
        <!-- /page content -->

        {% endblock %}
